.login_page .login_title h1{
    font-size: 3.5em;
    color: #333;
    text-align: center;
}
.login_page #main .article_standard > p{
    text-align: center;
    font-size: 14px;
    color: #666;
}
.login_page #main{
    padding-bottom:50px;
}
.login_page .login_table_box{
    background: #f58025;
    width: 675px;
    margin: 10px auto 0;
    padding: 15px 10px;
}
.login_page .login_table tr{
    background: none;
    border: none;
}
.login_page .login_table td{
    /*    padding: 15px 0;*/
}
.login_page .login_table td p{
    font-size: 14px;
    color: #fff;
    text-align: right;
}
.login_page .login_table td input[type="text"],
.login_page .login_table td select{
    font-size: 14px;
    border: solid 1px #0386c4;
    color: #333;
}
.login_page .login_table td input[type="text"]{
    width: 260px;
}
.login_page .login_btn{
    width: 280px;
    padding: 0;
    border: none;
    background: #0069aa !important;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.login_page .login_btn:hover{
    background: #88a948;
}
.login_page .dashed_top{
    border-top: dashed 1px #dce8ee !important;
}
.login_page #footer{
    margin: 0;
}
.login_page .system_error{
    width: 675px;
    margin: 10px auto 0;
    padding: 15px 10px;
}

.login_page input[type*="text"], textarea, select {
    border: inherit !important;
}

/* @media 850px */
@media only screen and (max-width:850px) {
    .login_page #main{
        background: #258dbe;
    }
    .login_page .login_title h1{
        color: #fff;
    }
    .login_page #main .article_standard > p{
        color: #bfe2f3;
    }
    .login_page .login_table_box{
        width: 100%;
        padding: 15px 5%;
    }
    .login_page .login_table{
        width: 90%
    }
    .login_page .login_table tr{
        margin-bottom: 5px;
    }
    .login_page .login_table tr td:nth-child(1){
        margin-bottom: -10px;
    }
    .login_page .login_table td{
        width: 100%;
        padding: 7px 0;
    }
    .login_page .login_table td p{
        text-align: left
    }
    .login_page .login_table td input[type="text"]{
        width: 100%;
        padding: 0;
        text-indent: 10px;
    }
    .login_page .login_btn{
        width: 100%;
        margin-top: 30px !important;
    }
    .login_page .system_error{
        margin: 0 5%;
        padding: 10px 0;
        width: 90%;
    }
}